/* Wireframe Theme for Zen Browser */
/* Import modular CSS files */

@import url("modules/variables.css");

/* Override Zen theme colors */
:root {
  --na-color-text: rgba(192, 180, 211, 1);
  --na-color-bg: rgba(54, 20, 192, 1);
  --na-color-text-second: rgba(192, 180, 211, 0.25);
  --na-color-bg-second: rgba(54, 20, 192, 0.25);
  --na-color-border: rgba(209, 207, 192, 1);
  --na-urlbar-bg: #f3f0e611, #f3f0e6FF;
}

@import url("modules/animations.css");
@import url("modules/panel.css");
@import url("modules/sidebar.css");
@import url("modules/bottombar.css");
@import url("modules/bookmarks.css");
@import url("modules/border.css");
@import url("modules/findbar.css");
@import url("modules/window-controls.css");
@import url("modules/status-panel.css");